.text-input {
    width: 100%;
    font-size: 25px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #777;
    color: white;
}

.text-input::placeholder {
    color: white;
}

.text-input::selection {
    background-color: black;
}
